<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../login-principal/css/login.css">
    <title>Entrar - BioClicky</title>
</head>
<body>

<section class="login-container">

    <a href="../app/views/pages/principal.html" class="logo">
        <img src="../../public/imagem/logo-header/logo-e-titulo.png" alt="BioClicky">
    </a>

    <form class="login-form">

        <h1>Entrar</h1>

        <p>
            Faça login para acessar sua conta.
        </p>

        <label>E-mail</label>
        <input type="email" placeholder="Digite seu e-mail">

        <label>Senha</label>
        <input type="password" placeholder="Digite sua senha">

        <button type="submit">
            Entrar
        </button>

        <a href="#" class="esqueci-senha">
            Esqueci minha senha
        </a>

        <small>
            Não possui uma conta?
            <a href="cadastro.html">Criar conta</a>
        </small>

    </form>

</section>

</body>
</html>