<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Bio Clicky</title>
</head>
<body>
    
    <!-- ===================================== HEADER | CABEÇALHO ===================================== -->

<header class="cabecalho">

<a href="#" class="logo">
    <img src="../../public/imagem/logo-header/logo-e-titulo.png" alt="BioClicky">
</a>

<nav class="menu-container">

    <span class="indicador"></span>

    <ul class="menu">
        <li><a href="#" class="ativo">Início</a></li>
        <li><a href="remedios.html">Remédios</a></li>
        <li><a href="farmacias.html">Farmácias</a></li>
        <li><a href="categorias.html">Categorias</a></li>
        <li><a href="sobre.html">Sobre</a></li>
    </ul>

</nav>

    <a href="#" class="localizacao">
        <ion-icon name="location-outline"></ion-icon>
        São Paulo - SP
    </a>

<button type="button" class="entrar" onclick="window.location.href='../login-principal/login.html'">
    <ion-icon name="person-outline"></ion-icon>
    Entrar
</button>

    </section>

</header>

    <!-- ===================================== MAIN 1  | CORPO 1 ===================================== -->

<section class="hero">

    <img src="../../public/imagem/main-1/Vector 5.png" class="fundo-verde" alt="">

    <article class="hero-texto">
        <h1>
            Compare preços <br>
            <span>de remédios</span> <br>
            em segundos.
        </h1>

        <p>
            Encontre o melhor preço em farmácias
            próximas de você e economize.
        </p>

<form class="busca">
    <ion-icon name="search-outline" class="lupa-icon"></ion-icon>
    
    <input type="text" placeholder="Digite o nome do remédio...">
    
    <button type="submit">Pesquisar</button>
</form>

        <small>
            <strong>Exemplos:</strong>
            <a href="#">Dorflex</a>
            <a href="#">Paracetamol</a>
            <a href="#">Dipirona</a>
            <a href="#">Buscopan</a>
            <a href="#">Neosaldina</a>
        </small>
    </article>

    <aside class="hero-imagens">
        <img src="../../public/imagem/main-1/paracetamol potee (1) 1.png" class="frasco" alt="">
        <img src="../../public/imagem/main-1/buscopan (2) 1.png" class="caixa" alt="">
        <img src="../../public/imagem/main-1/remedio.png" class="comprimidos" alt="">
    </aside>

</section>


<!-- ===================================== MAIN 2  | CORPO 2 ===================================== -->

<section class="resultados">

    <section class="topo-resultados">
        <article>
            <small>Preços encontrados para:</small>
            <h2>Paracetamol 750mg</h2>
        </article>

        <a href="#" class="localizacao-topo">
            <ion-icon name="location"></ion-icon>
            São Paulo - SP
        </a>
    </section>

    <section class="cards-farmacias">

        <article class="farmacia-card drogasil-card">
            <img src="../../public/imagem/main-2/drogasil.png" alt="Drogasil">
            <h3>R$ 22,90</h3>
            <p>1,2km de distância</p>
            <button>Ver oferta</button>
        </article>

        <article class="farmacia-card droga-raia-card">
            <img src="../../public/imagem/main-2/droga-raia.png" alt="Droga Raia">
            <h3>R$ 24,50</h3>
            <p>1,2km de distância</p>
            <button>Ver oferta</button>
        </article>

        <article class="farmacia-card pague-menos-card">
            <img src="../../public/imagem/main-2/pague-menos.png" alt="Pague Menos">
            <h3>R$ 21,80</h3>
            <p>1,7km de distância</p>
            <button>Ver oferta</button>
        </article>

        <article class="farmacia-card drogaria-sp-card">
            <img src="../../public/imagem/main-2/drogaria-sp.png" alt="Drogaria São Paulo">
            <h3>R$ 23,60</h3>
            <p>2,4km de distância</p>
            <button>Ver oferta</button>
        </article>

    </section>

    <section class="conteudo-inferior">

        <article class="como-funciona">

            <h2>Como funciona?</h2>

            <section class="passos">

                <article class="passo">
                    <span>1</span>
                    <h4>Pesquise</h4>
                    <p>Digite o nome do remédio.</p>
                </article>

                <article class="passo">
                    <span>2</span>
                    <h4>Compare</h4>
                    <p>Veja os preços.</p>
                </article>

                <article class="passo">
                    <span>3</span>
                    <h4>Economize</h4>
                    <p>Escolha a melhor oferta.</p>
                </article>

            </section>

        </article>

        <!-- 
        <article class="categorias">

            <h2>Categorias mais buscadas</h2>

            <section class="lista-categorias">

                <article class="categoria">🤕<span>Dor de cabeça</span></article>
                <article class="categoria">🤧<span>Gripe e Resfriado</span></article>
                <article class="categoria">🛡️<span>Imunidade</span></article>
                <article class="categoria">🙂<span>Infantil</span></article>
                <article class="categoria">💗<span>Saúde Feminina</span></article>
                <article class="categoria">💙<span>Estômago e Intestino</span></article>

            </section>

        </article>

    </section>

</section>
-->

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script src="../../public/js/principal.js"></script>
</body>
</html>