<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Bio Clicky</title>
</head>
<body>
    
<!-- ===================================== HEADER | CABEÇALHO ===================================== -->

<header class="cabecalho">

<a href="../pages/principal.html" class="logo">
    <img src="../../public/imagem/logo-header/logo-e-titulo.png" alt="BioClicky">
</a>

<nav class="menu-container">

    <span class="indicador"></span>

    <ul class="menu">
        <li><a href="principal.html">Início</a></li>
        <li><a href="remedios.html" class="ativo">Remédios</a></li>
        <li><a href="farmacias.html">Farmácias</a></li>
        <li><a href="categorias.html">Categorias</a></li>
        <li><a href="sobre.html">Sobre</a></li>
    </ul>

</nav>

    <a href="#" class="localizacao">
        <ion-icon name="location-outline"></ion-icon>
        São Paulo - SP
    </a>

    <button type="button" class="entrar">
        <ion-icon name="search"></ion-icon>
        Entrar
    </button>

    </section>

</header>



<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script src="../../public/js/principal.js"></script>

</body>
</html>